[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-isort = "*"
flake8-black = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
types-termcolor = "*"

[requires]
python_version = "3.9"
